.table-container {
    margin-top: 20px;
  }


  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #c9c2c2;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #494949;
  }
  
  .table-container th {
    background-color: #705f5f;
    font-weight: bold;
  }
  
  .table-container tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .musicasButton {
    display: inline-block;
    padding: 5px 20px ;
    border: none;
    border-radius: 4px;
    background-color: hsl(224, 100%, 50%);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 3px;
  }
  .musicasButton:hover {
    background-color: #0056b3;
  }

  .musicasButtonD {
    display: inline-block;
    padding: 5px 20px ;
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 100%, 50%);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 3px;
  }
  .musicasButtonD:hover {
    background-color: #b30600;
  }


  .create-button-musicas {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: hsl(140, 93%, 30%);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .create-button-musicas:hover {
    background-color: #00b30f;
  }


  .musicasButtonCr {
    display: inline-block;
    padding: 5px 20px ;
    border: none;
    border-radius: 4px;
    background-color: hsl(140, 93%, 30%);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 3px;
  }
  .musicasButtonCr:hover {
    background-color: #00b30f;
  }

  .musicasButtonCa {
    display: inline-block;
    padding: 5px 20px ;
    border: none;
    border-radius: 4px;
    background-color: hsl(0, 100%, 50%);
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 3px;
  }
  .musicasButtonCa:hover {
    background-color: #b30600;
  }
